<div class="h-100 p-3 d-flex flex-column">

  <!-- Header and add button -->
  <div class="mb-2 d-flex justify-content-between align-items-center">
    <h2 class="m-0">Albums</h2>
    <button id="add-album-button" type="button" name="button" data-bs-toggle="modal" data-bs-target="#album-form-modal">
      <i class="fas fa-plus"></i>
    </button>
  </div>

  <div class="flex-grow-1 position-relative">
    <div class="h-100 p-2 list-group scrollable-list-group">

      <!-- Album list item -->
      <div class="list-group-item list-group-item-action album-list-item p-2 d-flex justify-content-between align-items-start" [class.active]="selectedAlbum != null && albumListItem.album.id === selectedAlbum.id" *ngFor="let albumListItem of albumListItems" (click)="selectAlbumListItem(albumListItem)">

        <!-- Album icon -->
        <img class="mr-2 album-icon" [src]="albumListItem.album.imageUrl" alt="">

        <div class="overlay">
          <div class="hover-panel p-1">

            <!-- Delete button -->
            <button class="btn btn-danger hover-panel-button mb-1" type="button" name="button" (click)="deleteAlbum(albumListItem.album)">
              <i class="fas fa-times"></i>
            </button>

            <!-- Edit button -->
            <button class="btn btn-secondary hover-panel-button" type="button" name="button">
              <i class="fas fa-edit"></i>
            </button>

          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<!-- Album form modal -->
<div class="modal fade" id="album-form-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Album Editor</h5>
      </div>

      <div class="modal-body">
        <form id="album-form" [formGroup]="albumForm" (ngSubmit)="submitAlbumForm()" class="needs-validation">
          <div class="row mb-3">
            <div class="col-6 form-group">
              <label class="form-label">Title</label>
              <input type="text" formControlName="title" class="form-control form-control-sm" autocomplete="off" required/>
            </div>

            <div class="col-6 form-group">
              <label class="form-label">Artist</label>
              <input type="text" formControlName="artist" class="form-control form-control-sm" autocomplete="off" required/>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-6 form-group">
              <label class="form-label"># Tracks</label>
              <input type="number" formControlName="trackCount" class="form-control form-control-sm" min="1" required/>
            </div>

            <div class="col-6 form-group">
              <label class="form-label">Image URL</label>
              <input type="text" formControlName="imageUrl" class="form-control form-control-sm" autocomplete="off" required/>
            </div>
          </div>

          <div class="row">
            <div class="col-6 form-group">
              <label class="form-label">Poster</label>
              <select formControlName="posterId" class="form-select form-select-sm" aria-label="Default select example" [value]="null" required>
                <option [value]="null" disabled>Select poster</option>
                <option [value]="member.id" *ngFor="let member of allMembers">{{ member.firstName }} {{ member.lastName }}</option>
              </select>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" id="album-modal-close-button" data-bs-dismiss="modal" (click)="clearAlbumForm()">Cancel</button>
        <button type="submit" form="album-form" class="btn btn-sm btn-primary" [disabled]="!albumForm.valid">Save</button>
      </div>
    </div>
  </div>
</div>
