:host {
  height: 100%;
}

#add-album-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: #212529;
  color: white;
}

.scrollable-list-group {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: whitesmoke;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item.active {
  /*
  color: #000000;
  background-color: #eeeeee;
  border-color: #eeeeee;
  */
}

.album-icon {
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  background-color: lightgray;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
}

.album-delete-button {
  min-width: 28px;
  min-height: 28px;
  max-width: 28px;
  max-height: 28px;
}
