<div class="h-100 p-3 d-flex flex-column">

  <!-- Header and add button -->
  <div class="mb-2 d-flex justify-content-between align-items-center">
    <h2 class="m-0">Albums</h2>
    <button id="add-album-button" type="button" name="button" data-bs-toggle="modal" data-bs-target="#album-form-modal">
      <i class="fas fa-plus"></i>
    </button>
  </div>

  <div class="flex-grow-1 position-relative">
    <div class="h-100 p-2 list-group scrollable-list-group">

      <!-- Album list item -->
      <div class="list-group-item list-group-item-action album-list-item p-2 d-flex justify-content-between align-items-end" [class.active]="selectedAlbum != null && albumListItem.album.id === selectedAlbum.id" *ngFor="let albumListItem of albumListItems" (click)="selectAlbumListItem(albumListItem)">

        <!-- Album icon -->
        <div class="d-inline-block position-relative">
          <img class="album-icon" [src]="albumListItem.album.imageUrl" alt="">

          <div class="overlay d-flex justify-content-end p-1">
            <div class="participant-icon d-flex justify-content-center align-items-center"  [style.background-color]="albumListItem.poster.color">
              <p *ngIf="albumListItem.poster !== null">{{ albumListItem.poster.firstName[0] + albumListItem.poster.lastName[0] }}</p>
            </div>
          </div>
        </div>

        <div class="overlay">
          <div class="hover-panel p-1">

            <!-- Delete button -->
            <button class="btn btn-danger hover-panel-button mb-1" type="button" name="button" (click)="deleteAlbum(albumListItem.album)">
              <i class="fas fa-times"></i>
            </button>

            <!-- Edit button -->
            <button class="btn btn-secondary hover-panel-button" type="button" name="button" (click)="populateAlbumForm(albumListItem.album)"  data-bs-toggle="modal" data-bs-target="#album-form-modal">
              <i class="fas fa-edit"></i>
            </button>

          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<!-- Album form modal -->
<div class="modal fade" id="album-form-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Album Editor</h5>
      </div>

      <div class="modal-body">
        <form id="album-form" [formGroup]="albumForm" (ngSubmit)="submitAlbumForm()" class="needs-validation">
          <div class="row mb-3">
            <div class="col">
              <label class="form-label" title="The album posted.">Album</label>
              <input type="text" formControlName="albumSearchQuery" class="form-control form-control-sm mb-2" autocomplete="off" placeholder="Search albums" required/>

              <div id="search-results-list" class="list-group p-2">
                <div class="search-result-list-item list-group-item list-group-item-action d-flex p-1" *ngFor="let album of albumSearchListItems" [class.active]="album.id === this.albumForm.controls.spotifyId.value" (click)="selectAlbumSearchResult(album)">
                  <img [src]="album.images[2].url" class="mr-1" />
                  <div>
                    <h1>{{ album.name }}</h1>
                    <h2>{{ album.artists[0].name }}</h2>
                    <small>{{ album.release_date.substring(0, 4) }} {{ album.album_type }}{{ album.total_tracks > 1 ? " (" + album.total_tracks + " tracks)" : "" }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 form-group">
              <label class="form-label" title="The participant who posted the album.">Poster</label>
              <select formControlName="posterId" class="form-select form-select-sm" aria-label="Default select example" [value]="null" required>
                <option [value]="null" disabled>Select poster</option>
                <option [value]="participant.id" *ngFor="let participant of participants">{{ participant.firstName }} {{ participant.lastName }}</option>
              </select>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" id="album-modal-close-button" data-bs-dismiss="modal" (click)="clearAlbumForm()">Cancel</button>
        <button type="submit" form="album-form" class="btn btn-sm btn-primary" [disabled]="!albumForm.valid">Save</button>
      </div>
    </div>
  </div>
</div>
