:host {
  height: 100%;
}

#album-info {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
}

h3 {
  font-style: italic;
}

h4 {
  color: #666;
}

.poster-icon {
  min-width: 56px;
  min-height: 56px;
  max-width: 56px;
  max-height: 56px;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.metrics-warning {
  color: red;
}

.scrollable-list-group {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: whitesmoke;
}

.list-group-item {
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}

.track-list-item-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.hover-panel {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}

.track-list-item-overlay:hover .hover-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.hover-panel-button {
  min-width: 22px;
  min-height: 22px;
  max-width: 22px;
  max-height: 22px;
  padding: 0px;
  color: white;
  font-size: 12px;
}

.track-list-item p {
  margin: 0px;
}

.track-title {
  font-size: 14px;
}

.picker-icon {
  width: 26px;
  height: 26px;
  display: inline-block;
  color: white;
  font-size: 11px;
  border-radius: 50%;
}

.top-track {
  background-color: lemonchiffon;
}

#voters-area {
  max-height: 200px;
  padding: 2px 6px;
  overflow: auto;
  border: 1px solid #ced4da;
  border-radius: .2rem;
}
