<div class="h-100 p-3 ">

  <div class="h-100 p-3 d-flex flex-column border rounded" id="foo">

    <div class="mb-3">
      <h3>{{ album.title }}</h3>
      <h4>{{ album.artist }}</h4>
    </div>

    <div class="mb-2 d-flex justify-content-between align-items-center">
      <h5>Picked Tracks (of {{ album.trackCount }})</h5>
      <button id="add-album-button" type="button" name="button" data-bs-toggle="modal" data-bs-target="#picked-track-form-modal">
        <i class="fas fa-plus"></i>
      </button>
    </div>

    <div class="flex-grow-1 position-relative">
      <div class="h-100 p-2 list-group scrollable-list-group">

        <div class="list-group-item list-group-item-action d-flex picked-track-list-item" [class.top-track]="album.topTrackNumber !== null && album.topTrackNumber === pickedTrackListItem.pickedTrack.trackNumber" *ngFor="let pickedTrackListItem of pickedTrackListItems">
          <p>{{ pickedTrackListItem.pickedTrack.trackNumber }}. {{ pickedTrackListItem.pickedTrack.title }}</p>
        </div>

      </div>
    </div>

  </div>

</div>

<!-- Picked track form modal -->
<div class="modal fade" id="picked-track-form-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Picked Track Editor</h5>
      </div>

      <div class="modal-body">
        <form id="picked-track-form" [formGroup]="pickedTrackForm" (ngSubmit)="submitPickedTrackForm()" class="needs-validation">
          <div class="row">
            <div class="col-6">
              <div class="form-group mb-3">
                <label class="form-label">Title</label>
                <input type="text" formControlName="title" class="form-control form-control-sm" autocomplete="off" required/>
              </div>

              <div class="form-group mb-3">
                <label class="form-label">Track #</label>
                <input type="number" formControlName="trackNumber" class="form-control form-control-sm" min="1" required/>
              </div>

              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="isTopTrack">
                  <label class="form-check-label" for="flexCheckDefault">Is Top Track?</label>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label class="form-label">Pickers</label>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" id="picked-track-modal-close-button" data-bs-dismiss="modal" (click)="clearPickedTrackForm()">Cancel</button>
        <button type="submit" form="picked-track-form" class="btn btn-sm btn-primary" [disabled]="!pickedTrackForm.valid">Save</button>
      </div>
    </div>
  </div>
</div>
