:host {
  height: 100%;
}

#album-info {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
}

h3 {
  font-style: italic;
}

.poster-icon {
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.metrics-warning {
  color: red;
}

#add-picked-track-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: #212529;
  color: white;
}

.scrollable-list-group {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: whitesmoke;
}

.list-group-item {
  padding: 0.4rem 0.6rem;
}

.picked-track-list-item-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.hover-panel {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}

.picked-track-list-item-overlay:hover .hover-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.hover-panel-button {
  min-width: 28px;
  min-height: 28px;
  max-width: 28px;
  max-height: 28px;
  padding: 0px;
  color: white;
}

.picked-track-list-item p {
  margin: 0px;
}

.picked-track-title {
  font-size: 14px;
}

.picker-icon {
  width: 26px;
  height: 26px;
  display: inline-block;
  color: white;
  font-size: 11px;
  border-radius: 50%;
}

.top-track {
  background-color: lemonchiffon;
}
