<div class="h-100 d-flex flex-column" *ngIf="round !== null">

  <header class="p-2 d-flex justify-content-between align-items-center">

    <h1>Round {{ round.number }}</h1>

    <div class="d-flex">

      <div class="d-flex align-items-center mr-3">
        <div class="participant-icon d-flex justify-content-center align-items-center mr-1" *ngFor="let participant of participants"  [style.background-color]="participant.color">
          <p *ngIf="participant !== null">{{ participant.firstName[0] + participant.lastName[0] }}</p>
        </div>
      </div>

      <div>
        <p>Started: {{ round.startDate }}</p>
        <p>Ended: {{ round.endDate }}</p>
      </div>

    </div>

  </header>

  <div class="h-100 flex-grow-1">
    <div class="h-100 row g-0">
      <div class="col-3 h-100">
        <app-round-albums-list [round]="round" (albumSelectEvent)="selectAlbum($event)"></app-round-albums-list>
      </div>

      <div class="col-9 h-100">
        <app-album-info [album]="selectedAlbum" [participants]="participants" [round]="round" *ngIf="selectedAlbum !== null"></app-album-info>
      </div>
    </div>
  </div>

</div>
