header {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

p {
  margin: 0px;
}

.particpant-icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 50%;
}
