<div class="h-100 p-3 d-flex flex-column" *ngIf="round !== null">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Round {{ round.number }}</h1>
  </div>

  <div class="h-100 flex-grow-1">
    <div class="h-100 d-flex">
      <div class="h-100 mr-3">
        <app-round-albums-list [round]="round"></app-round-albums-list>
      </div>

      <div class="h-100 flex-grow-1 bg-primary">
        <div class="" *ngIf="selectedAlbum !== null">
          <h2>[Title]</h2>
          <h3>[Artist]</h3>
          <p>Picked Tracks (of 8)</p>
        </div>
      </div>
    </div>
  </div>

</div>

<!--
<div class="p-2 d-flex flex-column" *ngIf="selectedRound !== null">

  <div class="d-flex flex-grow-1">


    <div class="mr-2">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Albums</h2>
        <button id="add-album-button" type="button" name="button" data-bs-toggle="modal" data-bs-target="#album-form-modal">
          <i class="fas fa-plus"></i>
        </button>
      </div>



      <div class="list-group">
        <div class="album-list-item mb-2" *ngFor="let albumListItem of albumListItems" (click)="selectAlbumListItem(albumListItem)">
          <img class="album-icon" [src]="albumListItem.imageUrl" alt="">
        </div>
      </div>
    </div>

    <div class="flex-grow-1 bg-secondary">
      <div class="" *ngIf="selectedAlbum !== null">

        <div class="d-flex justify-content-between mb-2">
          <div class="">
            <h1>{{ selectedAlbum.title }}</h1>
            <h2>{{ selectedAlbum.artist }}</h2>
          </div>

          <div class="">
            <p>Posted by </p>
          </div>
        </div>

        <h3>Picked tracks</h3>

      </div>
    </div>

  </div>

</div>

</div>
-->
