<div class="h-100 p-3 d-flex flex-column" *ngIf="round !== null">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Round {{ round.number }}</h1>
  </div>

  <div class="h-100 flex-grow-1">
    <div class="h-100 d-flex">
      <div class="h-100 mr-3">
        <app-round-albums-list [round]="round" (albumSelectEvent)="selectAlbum($event)"></app-round-albums-list>
      </div>

      <div class="h-100 flex-grow-1">
        <app-album-info [album]="selectedAlbum" *ngIf="selectedAlbum !== null"></app-album-info>
      </div>
    </div>
  </div>

</div>
